mixin header()
  header.-header&attributes(attributes)
    .__inner-top
      .-container-fluid
        button.-header.__toggle-menu.glyphicon.glyphicon-nav.hidden-md.hidden-lg
        +a(pages.home.url).-header.__logo(title=pageTitle)
          img.__logo-img(src=`${paths.imgGeneral}/header-logo-${suffix}.svg` alt=pageTitle)
          | #{pageTitle}
        .-header.__contacts.glyphicon.glyphicon-tel.hidden-xs.hidden-sm
          +a('tel:88003003030') 8.800.300.3030
          br
          small Звоните с 9:00 до 18:00
        .-header.__contacts.glyphicon.glyphicon-mail.hidden-xs.hidden-sm
          +a(`mailto:${suffix}target@gmail.com`) #{suffix}target@gmail.com
          br
          small Звоните с 9:00 до 18:00
        +a().-header.__btn-feedback.btn.btn_1.hidden-xs(data-fancybox='feedback' data-type='ajax' data-src=popups.feedback.url data-fancybox--single) Напишите нам
    .__inner-bottom.hidden-xs.hidden-sm
      .-container-fluid
    block